<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @medical_test.date %>
</p>

<p>
  <strong>Place:</strong>
  <%= @medical_test.place %>
</p>

<p>
  <strong>User:</strong>
  <%= @medical_test.user_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @medical_test.patient_id %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @medical_test.weight %>
</p>

<p>
  <strong>Tobacco:</strong>
  <%= @medical_test.tobacco %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @medical_test.alcohol %>
</p>

<p>
  <strong>Heart rate:</strong>
  <%= @medical_test.heart_rate %>
</p>

<p>
  <strong>Fetal heart sound:</strong>
  <%= @medical_test.fetal_heart_sound %>
</p>

<p>
  <strong>Uterus contraction:</strong>
  <%= @medical_test.uterus_contraction %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @medical_test.temperature %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @medical_test.sugar %>
</p>

<p>
  <strong>Blood pressure:</strong>
  <%= @medical_test.blood_pressure %>
</p>

<p>
  <strong>Folic acid supplimentation level:</strong>
  <%= @medical_test.folic_acid_supplimentation_level %>
</p>

<p>
  <strong>State:</strong>
  <%= @medical_test.state %>
</p>

<p>
  <strong>Hemoglobin:</strong>
  <%= @medical_test.hemoglobin %>
</p>

<p>
  <strong>Platelet count:</strong>
  <%= @medical_test.platelet_count %>
</p>

<%= link_to 'Edit', edit_medical_test_path(@medical_test) %> |
<%= link_to 'Back', medical_tests_path %>
