<p id="notice"><%= notice %></p>
<div class="page-header">
  <h2><%= @patient.name%></h2>
</div>
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="thumbnail" style="border: none">
      <%= image_tag "#{@patient.name.downcase}.png" %>
      <div class="caption">
        <p><b> Name: </b> <%= @patient.name%></p>
        <p><b> Date of Birth: </b> <%= @patient.dob.strftime('%B %d, %Y')%></p>
        <p><b> ID Number: </b> <%= @patient.id_num%> (<%= @patient.id_type %>)</p>
        <p><b> Address: </b> <%= @patient.place%>, <%= @patient.district%>, <%= @patient.state%></p>
        <p><b> Area Code: </b> <%= @patient.pincode%></p>
        <p><b> Blood type: </b> <%= @patient.blood_type%></p>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Medical Profile and History of <%= @patient.name%></h3>
       </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Medical History</h4>
            </div>
            <div class="panel-body">
              <p> Find below all medical history of <%= @patient.name %>. It will list down child births, operations, accidents and miscarriages</p>
            </div>
            <% history = @patient.medical_histories %>
            <table class="table">
              <tr>
                <th>Date</th>
                <th>Incident</th>
                <th>Comment</th>
              </tr>
              <% history.each do |h| %>
              <tr>
                <td><%= h.date.strftime('%B %d, %Y')%></td>
                <td><%= h.incident_type%></td>
                <td><%= h.comment%></td>
              </tr>
              <%end%>
            </table>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Previous Tests</h4>
            </div>
            <div class="panel-body">
              <% tests = @patient.medical_tests%>
              <% tests.each do |t| %>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="thumbnail" style="border: none">
                  <div class="caption">
                    <div class="page-header">
                      <h4>Test done on <%= t.date.strftime('%B %d, %Y')%> by <%=link_to current_user.name, root_url%></h4>
                    </div>
                    <p><b> Heart Rate: </b> <%= t.heart_rate%></p>
                    <p><b> Fetus Heart Sound: </b> <%= t.fetal_heart_sound%></p>
                    <p><b> Uterus Contraction: </b> <%= t.uterus_contraction%></p>
                    <p><b> Sugar: </b> <%= t.sugar%> mg/dL</p>
                    <p><b> Weight: </b> <%= t.weight%> Kg</p>
                    <p><b> Blood Pressure: </b> <%= t.blood_pressure%></p>
                    <p><b> Hemoglogin: </b> <%= t.hemoglobin%> gm/dL</p>
                    <p><b> Nicotine: </b> <%= t.tobacco%></p>
                    <p><b> Alcohol: </b> <%= t.alcohol%>%</p>
                    <p><b> Platelet Count: </b> <%= t.platelet_count%></p>
                  </div>
                </div>
              </div>
              <%end%>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">RealTime Diagnosis</h4>
            </div>
            <div class="panel-body">
              <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
          </div>
          <!-- <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">RealTime Location</h4>
            </div>
            <div class="panel-body">
              <div id="map" style="height: 300px; width: 100%;"></div>
            </div>
          </div> -->
</iframe>
        </div>
    </div>
  </div>
</div>
<script>

    var dps = [{x: 0, y: 0}]; 
    var updateChart = function (yVal) {
          
          dps.push({x: xVal,y: yVal});
          xVal = xVal+0.2;
          
          if (dps.length >  50 )
          {
            dps.shift();        
          }

          chart.render();   

  };


  var chart = new CanvasJS.Chart("chartContainer",{
    title :{
      text: "Heartbeat Live Data"
    },
    dataPointMaxWidth: 1,
    axisX: {            
      title: "",
      labelFontColor: "white",
      tickColor: "white"
    },
    axisY: {            
      title: "",
      gridThickness: 0,
      labelFontColor: "white",
      tickColor: "white"
    },
    toolTip:{
      enabled: false
    },
    data: [{
      type: "line",
      markerType: "none",
      dataPoints : dps
    }]
  });

  chart.render();
  var xVal = 0;

  var source = new EventSource('/event');

  source.addEventListener("message<%= @patient.id%>", function(e){
    console.log("Received a message<%= @patient.id%>:", e.data);
    updateChart(parseInt($.parseJSON(e.data).value));
  });

  source.addEventListener('finished', function(e){
    console.log('Close:', e.data);
    source.close();
  });
  
</script>

