<!DOCTYPE html>
<html>
<head>
  <title>LaborTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #ddd">
	<nav class="navbar navbar-static-top navbar-inverse" style="margin-bottom: 0px;">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to "Labor Tracker", root_url, class: "navbar-brand"%>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<%if user_signed_in? %>
					<li><a href="#" class="navbar-link">Welcome <%= current_user.name %></a></li>
					<li class="divider"></li>
					<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					<%else%>
					<li><a href="#" class="navbar-link">Welcome Guest</a></li>
					<li class="divider"></li>
					<li><%= link_to "Login", new_user_session_path %></li>
					<%end%>
				</ul>
				</div>
				</div>
			</nav>
	<div class="container" style="min-width: 85%; box-shadow: 0 0 8px rgba(0,0,0,0.7); background-color: #fff">
		<div class="row" style="padding-left: 5px;">

		    <%= yield %>


	    </div>
    </div>

</body>
</html>
